name: Build and Publish Release

on: 
  push:
    tags:
      - 'MCP-[0-9]+.[0-9]+.[0-9]+'
      - 'MCP-[0-9]+.[0-9]+.[0-9]+-*'

env:
  DOCKERHUB_REPO: codescene/codescene-mcp
  
jobs:
  build-docker:
    runs-on: ubuntu-24.04
    steps:
      # Checkout source code and setup
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Docker setup
        uses: ./.github/actions/docker-setup
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push by digest
        id: docker-build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            VERSION=${{ github.ref_name }}
          tags: |
            ${{ env.DOCKERHUB_REPO }}:${{  github.ref_name }}
            ${{ env.DOCKERHUB_REPO }}:latest
