name: Build and publish executables

on: 
  pull_request:
    branches:
      - main
  # push:
  #   tags:
  #     - 'MCP-[0-9]+.[0-9]+.[0-9]+'
  #     - 'MCP-[0-9]+.[0-9]+.[0-9]+-*'

jobs:
  build-exe-linux-x86:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install deps
        run: |
          python -m venv .venv/
          source .venv/bin/activate
          pip install -r src/requirements.txt
          pip install Nuitka

      - name: Download CodeScene CLI zip
        run: |
          wget https://downloads.codescene.io/enterprise/cli/cs-linux-amd64-latest.zip -O codescene-cli-linux.zip
          unzip codescene-cli-linux.zip -d .

      - name: Build Executable
        run: |
          source .venv/bin/activate
          make create-executable

      - name: Upload Executable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cs-mcp-linux-x86
          path: cs-mcp

  build-exe-linux-aarch64:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install deps
        run: |
          python -m venv .venv/
          source .venv/bin/activate
          pip install -r src/requirements.txt
          pip install Nuitka

      - name: Download CodeScene CLI zip
        run: |
          wget https://downloads.codescene.io/enterprise/cli/cs-linux-aarch64-latest.zip -O codescene-cli-linux.zip
          unzip codescene-cli-linux.zip -d .

      - name: Build Executable
        run: |
          source .venv/bin/activate
          make create-executable

      - name: Upload Executable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cs-mcp-linux-aarch64
          path: cs-mcp

  build-exe-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install deps
        run: |
          python -m venv .venv/
          source .venv/bin/activate
          pip install -r src/requirements.txt
          pip install Nuitka

      - name: Download CodeScene CLI zip
        run: |
          wget https://downloads.codescene.io/enterprise/cli/cs-macos-aarch64-latest.zip -O codescene-cli-macos.zip
          unzip codescene-cli-macos.zip -d .

      - name: Build Executable
        run: |
          source .venv/bin/activate
          make create-executable

      - name: Upload Executable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cs-mcp-macos
          path: cs-mcp

  build-exe-windows-x86:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-python@v5 # Standard stable version
        with:
          python-version: '3.13'

      - name: Install deps
        run: |
          python -m venv venv
          .\venv\Scripts\python -m pip install --upgrade pip
          .\venv\Scripts\pip install -r src/requirements.txt
          .\venv\Scripts\pip install Nuitka

      - name: Download CodeScene CLI zip
        run: |
          Invoke-WebRequest -Uri "https://downloads.codescene.io/enterprise/cli/cs-windows-amd64-latest.zip" -OutFile "codescene-cli-windows.zip"
          Expand-Archive -Path "codescene-cli-windows.zip" -DestinationPath "."

      - name: Build Executable
        run: |
          .\venv\Scripts\python -m nuitka --onefile `
            --assume-yes-for-downloads `
            --include-data-dir=./src/docs=src/docs `
            --include-data-files=./cs.exe=cs `
            --output-filename=cs-mcp.exe `
            src/cs_mcp_server.py

      - name: Upload Executable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cs-mcp-x86.exe
          path: cs-mcp.exe
        
  # publish-to-release:
  #   permissions:
  #     contents: write 
  #   needs: [build-exe-linux-x86, build-exe-linux-aarch64, build-exe-macos, build-exe-windows-x86] # Make sure this matches your build job ID
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Download all artifacts
  #       uses: actions/download-artifact@v4
  #       with:
  #         path: ./all-binaries
  #         merge-multiple: true

  #     - name: Upload to Existing Release
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         tag_name: ${{ github.ref_name }}
  #         files: |
  #           ./all-binaries/cs-mcp-linux-x86
  #           ./all-binaries/cs-mcp-linux-aarch64
  #           ./all-binaries/cs-mcp-macos
  #           ./all-binaries/cs-mcp.exe
  #         append_body: true